@import "~scss/definitions";

:host {
	.content {
		background-color: $content-background-color;
		max-width: $content-max-width;

		margin: auto;

		border-radius: $border-radius;

		padding: $unit;

		app-history-element {
			&:not(:first-child) {
				
			}
		}
	}
}