@import "~scss/definitions";

:host {
	.content {
		background-color: $content-background-color;
		max-width: $content-max-width;

		margin: auto;

		border-radius: $border-radius;

		padding: $unit;

		.search-query {
			padding: #{$unit / 2} $unit;
			background-color: $action-color;
			color: $action-color-invert;
			border-radius: $border-radius;

			margin-bottom: $unit;

			display: flex;
			justify-content: center;

			.text {
				flex-grow: 1;
			}

			.action {
				margin-left: $unit / 2;
			}

			.fa {
				cursor: pointer;
				color: darken($action-color-invert, 33%);
			}
		}
	}

	.actions {
		position: fixed;
		right: 0;
		bottom: 0;

		padding: $unit;

		display: flex;

		> *:not(:first-child) {
			margin-left: $unit / 2;
		}
	}
}