<div class="content">
	<ng-container *ngIf="searchQuery">
		<div class="search-query">
			<span class="text">{{ searchQuery }}</span>
			<span class="action" (click)="onResetSearch()">
				<i class="fa fa-times"></i>
			</span>
		</div>
	</ng-container>

	<ng-container *ngFor="let point of historyData; let i = index">
		<app-history-element
			[data]="point"
			[hidden]="searchResults && !searchResults[point.id]"
			[class.first]="i === 0"
			[class.last]="i === historyData.length - 1"
		></app-history-element>
	</ng-container>
</div>

<div class="actions">
	<app-search-button></app-search-button>
	<app-add-new-button></app-add-new-button>
</div>
