@import "~scss/definitions";

:host {
	.content {
		background-color: $content-background-color;
		max-width: $content-max-width;

		margin: auto;

		border-radius: $border-radius;

		padding: $unit;

		app-history-element {
			&:not(:first-child) {
				
			}
		}
	}

	.actions {
		position: fixed;
		right: 0;
		bottom: 0;

		padding: $unit;

		display: flex;

		> *:not(:first-child) {
			margin-left: $unit / 2;
		}
	}
}