// http://clrs.cc/

$background-color: #7FDBFF;
$content-background-color: #0074D9;

$border-color: #7FDBFF;
$elem-background-color: #7FDBFF;

$content-max-width: 640px;

$border-radius: 8px;

$unit: 16px;
$border-unit: 1px;

$elem-title-font-size: 18px;
$elem-title-font-weight: bold;
$elem-font-size: 14px;
$elem-font-weight: normal;

$button-size: $unit * 3;

$action-color: #001f3f;
$action-color-invert: white;